* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #ffffff;
}
/* ======= Navbar ======= */
header {
    background-color: #eaf4ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 125px;
    height: 70px;
}
.logo h1 {
    background-image: linear-gradient(30deg, #001f65, #6895fd);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'The Seasons';
    font-size: 20px;
}
#booksys{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5px;
}
h1.titulo{
    background-image: linear-gradient(30deg, #001f65, #6895fd);
    -webkit-background-clip: text;
    background-clip: text;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}
nav a {
    text-decoration: none;
    color: #2349d1;
    font-size: 17px;
}
nav a:hover{
    font-size: 19px;
    border-bottom: 2px solid #8fa8e8;
    font-weight: 500;
}
.Home:active{
    transform: scale(1.0);
    color: #8fa8e8; 
    width: 20px; 
}
nav a.Home {
    border-bottom: 2px solid #2349d1;
    padding-bottom: 3px; 
    font-weight: 500;
}
.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #4a70e0;
    font-size: 17px;
    transition: 0.3s;
}
.navbar nav a:hover,
.navbar nav a.active {
    color: #002aff;
    border-bottom: 2px solid #4a70e0;
}
/* ======= Main Content ======= */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 80vh;
}
/* Lado esquerdo */
.logo-section {
    text-align: center;
}
.logo-box h1 {
    font-size: 90px;
    color: white;
    font-family: 'Times New Roman', serif;
    letter-spacing: -3px;
}
.logo-box img{
    width: 700px;
}
.logo-section h3 {
    color: #4a70e0;
    font-weight: 500;
}

.logo-section h2 {
    color: #69d1ff;
}
/* Lado direito - login */
.login-section {
    background: linear-gradient(to top right, #6794ff, #a1e6ff);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    color: #2a63c3;
}
#esqueci{
    display: flex;
}
#Esqueci{
    padding-bottom:12px ;
    color: white;
}
.login-section h2 {
    margin-bottom: 25px;
    font-size: 26px;
}
.login-section label {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2a63c3;
}
.login-section input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
    margin-bottom: 1px;
    outline: none;
}
#senha{
    margin-bottom: 10px;
}
.login-section .forgot {
    display: block;
    margin: 10px 0;
    text-align: left;
    color: #7d9dff;
    font-size: 13px;
    text-decoration: none;
}
.login-section button {
    background-color: #4a70e0;
    color: white;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}
.login-section button:hover {
    background-color: #345bd0;
}