* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #74a8f7, #a0eaff);
  color: #222;
}

/* MENU */
aside {
  width: 230px;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

aside.hidden {
  transform: translateX(-100%);
}

.logo {
  display: flex;
  align-items: center;  
  justify-content: center; 
  gap: 10px; 
}


.logo img {
  width: 70px; 
  height: 70px; 
  object-fit: cover; 
}


#booksys {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


#booksys h1 {
  font-size: 28px;  
  background-image: linear-gradient(30deg, #001f65, #6895fd); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  font-family: 'The Seasons', sans-serif; 
  margin: 0;  
}

#booksys h1:nth-child(2) {
  font-size: 24px; 
}

@media (max-width: 600px) {
  .logo {
    flex-direction: column;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  #booksys h1 {
    font-size: 24px;  
  }

  #booksys h1:nth-child(2) {
    font-size: 20px; 
  }
}
nav ul {
  list-style: none;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  color: #1a73e8;
  text-decoration: none;
  font-weight: bold;
}

.user {
  text-align: center;
  color: #555;
}

/* CONTEÚDO PRINCIPAL */
main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  transition: all 0.3s;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#searchInput {
  width: 60%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  text-align: center;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 25px;
}

.book {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.book:hover {
  transform: scale(1.05);
}

.book img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.book p {
  margin-top: 10px;
  font-weight: bold;
}

/* DETALHES */
#bookDetail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #74a8f7, #a0eaff);
  padding: 40px;
  display: none;
  flex-direction: column;
}

#bookDetail.show {
  display: flex;
}

#closeDetail {
  align-self: flex-start;
  background: #1a73e8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.book-info {
  display: flex;
  margin-top: 30px;
  gap: 40px;
  align-items: flex-start;
}

.book-info img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.book-text {
  max-width: 600px;
}

.hidden {
  display: none;
}
